/**
 * Layout styles
 */
.wrap {
  @apply relative flex flex-col min-h-dvh;
}
.container-wrap {
  @apply flex-1 flex flex-col;
}

.side-menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  top: 0;
  right: 0;
  height: 100dvh;
  z-index: 40;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .side-menu {
    width: 400px;
  }
}
.side-menu.is-open {
  transform: translateX(0);
}
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.dimmed.is-open {
  pointer-events: auto;
  z-index: 30;
  opacity: 1;
  visibility: visible;
}
